/* this is a comment */

/* CSS variables */
:root {
    --blue-color: #3dff67;
}

@font-face {
    font-family: "Kaushan";
    src: url(KaushanScript-Regularwoff.woff2);
}

@font-face {
    font-family: "Bungee";
    src: url(BungeeSpice-Regular.woff2);
}

@media screen and (max-width: 680px) {
    body {
        font-size: 10px;
    }

    .flexContainer {
        flex-direction: column;
    }
}

@media screen and (min-width: 681px) {
    body {
        font-size: 16px;
    }
}

/* styling the body */
body {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    min-width: 0;
    max-width: 2000px;
}

/* styling the nav section */
nav {
    color: yellow;
    border: 3px;
    border-style: ridge;
    text-decoration-color: rgb(46, 92, 77);
    text-decoration: dotted;
    position: sticky;
    top: 20px;
    background-color: blanchedalmond;
}

header {
    font-size: 15px;
    color: green;
    width: 50%;
}

/* h1 styles */
h1 {
    color: #c54343;
    font-size: 2.5rem;
    border: 2mm solid;
    border-radius: 30%;
    border-style: dashed;
    border-color: rgb(199, 199, 33);
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(46, 33, 33);
    text-align: center;
    text-decoration: wavy;
    text-decoration: underline;
    text-decoration-color: rgb(15, 212, 147);
    position: static;
    font-family: "Bungee";
}


/* h2 styles */
h2 {
    /* color: hsl(223, 23, 42); */
    color: rgb(255, 107, 1);
    margin: 10px 10px 10px 10px;
    padding: 30px 30px 30px 30px;
    border: 2px dashed;
    border-top-color: #3dff67;
    border-bottom-color: rgb(150, 138, 255);
    text-decoration: overline;

    text-decoration-color: chartreuse;

    font-family: "Kaushan";

}

/* div styles */
div {
    /* background-color: color-mix(in srgb, rgb(46, 75, 46) 70%, rgb(65, 30, 34) 50%); */
    background-color: rgb(0, 0, 0);
    border: 3px solid;
    border-color: rgb(47, 73, 53);
    margin: auto;
    border-top: 1px;
    border-bottom: 1px;
    border-left: 1px;
    border-right: 1px;
}

/* h3 styles */
h3 {
    color: var(--blue-color, rgb(80, 80, 155));
    margin: 1cm;
    height: 1vh;
}

.inlineBlock {
    display: inline-block;

}

.justaBlock {
    display: block;
}

button:hover {
    color: rgb(255, 0, 0);
}

h1:active {
    background-color: #3dff67;
    border-radius: 100px;
    border-style: dotted;
    border-color: #c54343;
}


.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    order: 4;
    flex-shrink: 200;
    column-gap: 30px;
}

.flexContainer>div {
    width: 30%;
    min-width: 100px;
    min-height: 200px;
}

.gridContainer {
    display: grid;
    grid-template-columns: [l1] 100px [l2] 100px [l3] 100px [l4];
    grid-template-rows: [r1] 50px [r2] 50px [r3];
}

.item1 {
    grid-column-start: l1;
    grid-column-end: l2;
    grid-row-start: r1;
    grid-row-end: r2;
}

.item3 {
    grid-column-start: l2;
    grid-column-end: l3;
    grid-row-start: r2;
    grid-row-end: r3;
}

.item2 {
    grid-column-start: l3;
    grid-column-end: l4;
    grid-row-start: r1;
    grid-row-end: r2;
}

#todayAgenda {
    font-style: italic;
}

* {
    min-width: 10px;
    min-height: 10px;
}

p {
    font-style: oblique;
}